<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- Bootstrap4 files-->
    @*<script src="js/bootstrap.bundle.min.js" type="text/javascript"></script>*@
    <script src="~/assets/public/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <link href="~/assets/public/css/bootstrap.css?v=2.0" rel="stylesheet" type="text/css" />

    @*<link href="~/assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />*@
    <link href="~/assets/vendor/angular-material/angular-material.css" rel="stylesheet" />
    <link href="~/assets/vendor/angular-material-icons/angular-material-icons.css" rel="stylesheet" />
    <link href="~/assets/vendor/slick-carousel/slick/slick.css" rel="stylesheet" />
    <link href="~/assets/vendor/slick-carousel/slick/slick-theme.css" rel="stylesheet" />


    <!-- Font awesome 5 -->
    <link href="~/assets/public/fonts/fontawesome/css/all.min.css?v=2.0" type="text/css" rel="stylesheet">


    <!-- custom style -->
    <link href="~/assets/public/css/ui.css?v=2.0" rel="stylesheet" type="text/css" />
    <link href="~/assets/public/css/responsive.css?v=2.0" rel="stylesheet" type="text/css" />





</head>
<body ng-app="app">
    <div>
        <md-content id="content">
            @RenderBody()
        </md-content>
    </div>

    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/assets/vendor/angular/angular.js"></script>
    <script src="~/assets/vendor/angular-animate/angular-animate.js"></script>
    <script src="~/assets/vendor/angular-aria/angular-aria.js"></script>
    <script src="~/assets/vendor/angular-material/angular-material.js"></script>
    <script src="~/assets/vendor/angular-material-icons/angular-material-icons.js"></script>
    <script src="~/assets/vendor/angular/ui-bootstrap-tpls-3.0.6.min.js"></script>
    <script src="~/assets/vendor/slick-carousel/slick/slick.js"></script>

    <script src="~/app/app.js"></script>
    <script src="~/app/Services/messageService.js"></script>
    <script src="~/app/Services/urlService.js"></script>
    <script src="~/app/settingsController.js"></script>
    <script src="~/app/Services/baseService.js"></script>
    <script src="~/app/Services/httpRequestService.js"></script>
    <!-- custom javascript -->
    <script src="~/assets/public/js/script.js?v=2.0" type="text/javascript"></script>
    <script>
        $(document).on('ready', function () {
            $("#slider1").slick({

                dots: true,
                infinite: false,
                speed: 300,
                slidesToShow: 4,

                slidesToScroll: 1,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2,
                            infinite: true,
                            dots: true
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                    // You can unslick at a given breakpoint now by adding:
                    // settings: "unslick"
                    // instead of a settings object
                ]

            });
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
