<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button hide-gt-sm ng-click="toggleSideNav('left')" class="md-icon-button">
            Toggle
        </md-button>
        <h2 flex md-truncate>Toolbar with Disabled/Enabled Icon Buttons</h2>
    </div>
</md-toolbar>