
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Public/_PublicLayout.cshtml";
}



<div ng-controller="productController">

    <h1>Product details</h1>
</div>


@section Scripts{
    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })</script>

    <script src="~/app/Controllers/productController.js"></script>
}

