<div class="modal fade" id="FormPopUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{formTitle}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-elements form-horizontal">
                    <form method="post" name="form">
                        <input type="hidden" ng-model="model.id">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input ng-change="isExistName()"
                                           type="text"
                                           class="form-control"
                                           id="name"
                                           name="name"
                                           ng-model="model.name"
                                           required
                                           autocomplete="off"
                                           maxlength="150"
                                           autofocus>
                                </div>
                                <span class="text-danger" ng-show="form.name.$touched && form.name.$invalid">Product name is required.</span>
                                <span class="text-danger" ng-show="form.name.$dirty && isExist">This name already exits.</span>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name">ISBN</label>
                                    <input type="text"
                                           class="form-control"
                                           id="ISBN"
                                           name="ISBN"
                                           ng-model="model.ISBN"
                                           required
                                           autocomplete="off"
                                           maxlength="150">
                                </div>
                                <span class="text-danger" ng-show="form.ISBN.$touched && form.ISBN.$invalid">ISBN is required.</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="language">Language</label>
                                    <input type="text"
                                           class="form-control"
                                           id="language"
                                           name="language"
                                           ng-model="model.language"
                                           required
                                           autocomplete="off"
                                           maxlength="50">
                                </div>
                                <span class="text-danger" ng-show="form.language.$touched && form.language.$invalid">Language is required.</span>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="edition">Edition</label>
                                    <input type="text"
                                           class="form-control"
                                           id="edition"
                                           name="edition"
                                           ng-model="model.edition"
                                           autocomplete="off"
                                           maxlength="150">
                                </div>
                                @*<span class="text-danger" ng-show="form.edition.$touched && form.edition.$invalid">Edition is required.</span>*@
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="country">Country</label>
                                    <input type="text"
                                           class="form-control"
                                           id="country"
                                           name="country"
                                           ng-model="model.country"
                                           autocomplete="off"
                                           maxlength="50">
                                </div>
                                @*<span class="text-danger" ng-show="form.country.$touched && form.country.$invalid">Language is required.</span>*@
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="edition">Display Order</label>
                                    <input type="text"
                                           class="form-control"
                                           id="displayOrder"
                                           name="displayOrder"
                                           ng-model="model.displayOrder"
                                           autocomplete="off">
                                </div>
                                @*<span class="text-danger" ng-show="form.edition.$touched && form.edition.$invalid">Edition is required.</span>*@
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="costPrice">Cost Price</label>
                                    <input type="number"
                                           class="form-control"
                                           id="costPrice"
                                           name="costPrice"
                                           ng-model="model.costPrice"
                                           placeholder="0.00"
                                           step="0.01"
                                           min="0"
                                           autocomplete="off"
                                           maxlength="15">
                                </div>
                                @*<span class="text-danger" ng-show="form.country.$touched && form.country.$invalid">Language is required.</span>*@
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="price">Selling Price</label>
                                    <input type="number"
                                           class="form-control"
                                           id="price"
                                           name="price"
                                           ng-model="model.price"
                                           required
                                           placeholder="0.00"
                                           step="0.01"
                                           min="0"
                                           autocomplete="off">
                                </div>
                                <span class="text-danger" ng-show="form.price.$touched && form.price.$invalid">Selling Price is required.</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="oldPrice">Old Price</label>
                                    <input type="number"
                                           class="form-control"
                                           id="oldPrice"
                                           name="oldPrice"
                                           ng-model="model.oldPrice"
                                           placeholder="0.00"
                                           step="0.01"
                                           min="0"
                                           autocomplete="off"
                                           maxlength="15">
                                </div>
                                @*<span class="text-danger" ng-show="form.country.$touched && form.country.$invalid">Language is required.</span>*@
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="stockQuantity">Stock in Quantity</label>
                                    <input type="number"
                                           class="form-control"
                                           id="stockQuantity"
                                           name="stockQuantity"
                                           ng-model="model.stockQuantity"
                                           required
                                           min="0"
                                           autocomplete="off">
                                </div>
                                <span class="text-danger" ng-show="form.stockQuantity.$touched && form.stockQuantity.$invalid">Stock Price is required.</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="orderMinimumQuantity">Minimum Order Quantity</label>
                                    <input type="number"
                                           class="form-control"
                                           id="orderMinimumQuantity"
                                           name="orderMinimumQuantity"
                                           ng-model="model.orderMinimumQuantity"
                                           placeholder="0.00"
                                           step="0.01"
                                           min="0"
                                           autocomplete="off"
                                           maxlength="15">
                                </div>
                                @*<span class="text-danger" ng-show="form.country.$touched && form.country.$invalid">Language is required.</span>*@
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="orderMaximumQuantity">Maximum order quantity</label>
                                    <input type="number"
                                           class="form-control"
                                           id="orderMaximumQuantity"
                                           name="orderMaximumQuantity"
                                           ng-model="model.orderMaximumQuantity"
                                           required
                                           min="0"
                                           autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="notifyForMinimumQuantityBellow">Notify for under minimum quantity</label>
                                    <input type="number"
                                           class="form-control"
                                           id="notifyForMinimumQuantityBellow"
                                           name="notifyForMinimumQuantityBellow"
                                           ng-model="model.notifyForMinimumQuantityBellow"
                                           placeholder="0.00"
                                           step="0.01"
                                           min="0"
                                           autocomplete="off">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="numberOfPage">No. of page</label>
                                    <input type="number"
                                           class="form-control"
                                           id="numberOfPage"
                                           name="numberOfPage"
                                           ng-model="model.numberOfPage"
                                           min="0"
                                           autocomplete="off">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label for="description">Title / Short description</label>
                                <textarea class="form-control"
                                          id="title"
                                          rows="2"
                                          name="title"
                                          ng-model="model.title"></textarea>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label for="description">Description</label>
                                <textarea class="form-control"
                                          id="description"
                                          rows="3"
                                          name="description"
                                          ng-model="model.description"></textarea>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-check">
                                    <input type="checkbox"
                                           class="form-check-input"
                                           id="isPublished"
                                           name="isPublished"
                                           ng-model="model.isPublished">
                                    <label class="form-check-label" for="isPublished">Is Published?</label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-check">
                                    <input type="checkbox"
                                           class="form-check-input"
                                           id="isAproved"
                                           name="isAproved"
                                           ng-model="model.isAproved">
                                    <label class="form-check-label" for="isAproved">Is Aproved?</label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-check">
                                    <input type="checkbox"
                                           class="form-check-input"
                                           id="isNewProduct"
                                           name="isNewProduct"
                                           ng-model="model.isNewProduct">
                                    <label class="form-check-label" for="isNewProduct">Is NewProduct?</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-check">
                                    <input type="checkbox"
                                           class="form-check-input"
                                           id="isReturnAble"
                                           name="isReturnAble"
                                           ng-model="model.isReturnAble">
                                    <label class="form-check-label" for="isReturnAble">Is ReturnAble?</label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-check">
                                    <input type="checkbox"
                                           class="form-check-input"
                                           id="isShippingChargeApplicable"
                                           name="isShippingChargeApplicable"
                                           ng-model="model.isShippingChargeApplicable">
                                    <label class="form-check-label" for="isShippingChargeApplicable">Is ShippingChargeApplicable?</label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-check">
                                    <input type="checkbox"
                                           class="form-check-input"
                                           id="isLimitedToStore"
                                           name="isLimitedToStore"
                                           ng-model="model.isLimitedToStore">
                                    <label class="form-check-label" for="isLimitedToStore">Is LimitedToStore?</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    <i class="fa fa-times-circle fa-lg"></i> Close
                </button>
                <button ng-click="reset()" type="button" class="btn btn-secondary">
                    <i class="fa fa-refresh" aria-hidden="true"></i> Reset
                </button>
                <button ng-click="formSubmit()" ng-disabled="form.$invalid || isExist" type="button" class="btn btn-primary">
                    <i class="fa fa-save fa-lg" fa-save"></i>
                    {{action}}
                </button>
            </div>
        </div>
    </div>
</div>