
@{
    ViewData["Title"] = "Banner";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="bannerController as $ctrl">
    <div>
        <div ng-show="isResponseComplete">
            @await Html.PartialAsync("~/Views/Banner/_Table.cshtml")
            @await Html.PartialAsync("~/Views/Banner/FormPopUp.cshtml")
        </div>
        <div ng-hide="isResponseComplete" class="container-fluid">
            <div class="d-flex justify-content-center align-items-center">
                <div class="spinner-grow text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
   
</div>


@section Scripts{
    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })</script>

    <script src="~/app/Controllers/bannerController.js"></script>
    
}
